<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "banner.jpg"%>');">
  <div class="banner-content">
    <h1>Composted</h1>
    <p class="typewriter">Recyclez vos déchets végétaux près de chez vous!</p>
    <div class="col-xs-12">
      <div class="form-inline">
        <%= simple_form_for @compost, method: :get do |f| %>
          <%= f.input :address, label: false, prompt: "Où êtes vous?" %>
          <%= f.button :submit, "Je composte!", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
